html {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --cloudy: #e3f2fd;
}

.header .navbar{
    background-color: var(--cloudy);
}

.welcome {
    padding: 2rem;
    letter-spacing: 0.5rem;
}

.cart:hover {
    text-decoration-line: underline;
}

.nav-brand {
    letter-spacing: 0.5rem;
}

footer,a {
    background-color: var(--cloudy);
}

.loader-backdrop {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loader2 > div {
    border: 5px solid var(--jean-blue); 
    width: 5rem;
    height: 5rem;
    border-top: 5px solid var(--cloudy);
    border-bottom: 5px solid var(--cloudy);
    border-radius: 50%;
    animation: spinner2 2s linear infinite;
}

@keyframes spinner2 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}